@page "/halls"
@inject HttpClient Http
@using System.Linq;
@using SOT.Abfs.RefereeTools.Models;
<h1>@localizer["Halls"]</h1>

@if (displayHalls == null)
{
    <p><em>@localizer["Loading"]</em></p>
}
else
{
    <p>@localizer["HallsIntroText"]. @localizer["LastUpdateText"] @hallsInformation.LastUpdate.ToShortDateString()</p>
    <div class="row">
        <div class="col-sm-6">
            <EditForm Model="@teamModelContext">
                <div class="form-group">
                    <div class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@localizer["Search"]</div>
                            </div>
                            <InputText @bind-Value="teamModelContext.FilterText" class="form-control" />

                            <button @onclick="OnFilter" class="btn btn-outline-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="col-sm-6">
            <EditForm Model="@feeModelContext">
                <div class="form-group">
                    <div class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@localizer["Referee"]</div>
                            </div>
                            <InputSelect @bind-Value="feeModelContext.RefereeSelected" class="form-control">
                                @foreach (var item in refereesInformation.Referees.OrderBy(c => c.Firstname).ThenBy(c => c.Lastname))
                                    {
                                    <option value="@item.Id">@item.ToString()</option>
                                    }
                            </InputSelect>
                            <button @onclick="CalculateFee" class="btn btn-outline-primary">
                                <i class="fas fa-calculator"></i>
                            </button>
                        </div>


                    </div>
                </div>
            </EditForm>
        </div>

        <table class="table table-striped table-hover table-responsive-sm table-sm">
            <thead>
                <tr>
                    <th>@localizer["Id"]</th>
                    <th>@localizer["Hall"]</th>
                    <th>@localizer["City"]</th>
                    <th>@localizer["Bloc"]</th>
                    @if (displayHalls.FirstOrDefault()?.Difference != null)
                    {
                        <th>@localizer["Diff"]</th>
                        <th>@localizer["Amount"]</th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in displayHalls)
                {
                    <tr>
                        <td>@team.Id.ToString("0000")</td>
                        <td>@team.HallName</td>
                        <td>@team.City</td>
                        <td>@team.Bloc1-@team.Bloc2</td>
                        @if (team.Difference != null)
                        {
                            <td>@team.Difference.Value</td>
                            <td>@((team.Difference.Value * blocFee).ToString("0.00")) &euro;</td>
                        }
                        <td>
                            <a href="halls/@team.Id"><i class="fas fa-map-marked-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {

    private HallsInformation hallsInformation;
    private RefereesInformation refereesInformation;
    private FeeModelContext feeModelContext = new FeeModelContext { Bloc1 = 26, Bloc2 = 26 };
    private const double blocFee = 3.5;

    private HallModel[] displayHalls;
    private TeamModelContext teamModelContext = new TeamModelContext();


    private void CalculateFee()
    {
        foreach (var hall in hallsInformation.Halls)
        {
            hall.Difference = DifferenceBloc(hall, feeModelContext);
        }
        OnFilter();
    }
    private int DifferenceBloc(HallModel team, FeeModelContext feeModel)
    {
        return DifferenceBloc(team.Bloc1, team.Bloc2, feeModel.Bloc1, feeModel.Bloc2);
    }

    private int DifferenceBloc(int hallBloc1, int hallBloc2, int refereeBloc1, int refereeBloc2)
    {
        return Math.Abs(hallBloc1 - refereeBloc1) + Math.Abs(hallBloc2 - refereeBloc2) + 1;
    }

    private void OnFilter()
    {
        Filter(teamModelContext.FilterText);
    }

    private void Filter(string searchValue)
    {
        if (string.IsNullOrEmpty(searchValue))
        {
            displayHalls = hallsInformation.Halls;
        }
        else
        {
            displayHalls = hallsInformation.Halls
                .Where(c => c.SearchString.Contains(searchValue, StringComparison.InvariantCultureIgnoreCase))
                .ToArray();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        hallsInformation = await Http.GetFromJsonAsync<SOT.Abfs.RefereeTools.Models.HallsInformation>("data/halls.json");
        refereesInformation = await Http.GetFromJsonAsync<SOT.Abfs.RefereeTools.Models.RefereesInformation>("data/referees.json");
        hallsInformation.Halls = hallsInformation.Halls.OrderBy(c => c.Id).ToArray();
        feeModelContext = new FeeModelContext
        {
            refereesInformation = refereesInformation
        };
        Filter(teamModelContext.FilterText);
    }

    public class TeamModelContext
    {
        public string FilterText { get; set; }
    }

    public class FeeModelContext
    {
        public RefereesInformation refereesInformation;


        private int refereeSelected;
        public int Bloc1 { get; set; }
        public int Bloc2 { get; set; }
        public string RefereeSelected
        {
            get => refereeSelected.ToString();
            set
            {
                refereeSelected = int.Parse(value);
                var referee = refereesInformation.Referees.FirstOrDefault(c => c.Id == refereeSelected);
                if (referee != null)
                {
                    Bloc1 = referee.Bloc1;
                    Bloc2 = referee.Bloc2;
                }
            }
        }

    }
}
